@import "tailwindcss";
@theme inline {
  /* Configure your theme variables here */
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
}
@theme{
  --color-primary-500: #F84565;
  --color-primary-dull: #D63854;
}

body{
  color:white;
  background-color:#09090B;
}